body {
    background-color: #DBBEA1;
    background-image:url('table5jpg');
    font-family:'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}

.Historic { 
    /*background-color: #DB6E8C;*/
    margin: 0.5em;
    padding: 1em;
    border-radius: 1em;
    /*border: 1px solid #3F292B;*/
    flex: 1;
    /*block-inline*/
}

.Places {
    padding: 10px;
    box-sizing: border-box;
    display:inline-flex;
    width: 46%;
}

.Places content {
    /*display:inline-block;*/
    /*flex-wrap:wrap ;*/
    float: left;
    width : 46%;
 }   
@media (min-width:960px){
 

}
