body {
    background-color: whitesmoke;
    background-image:url('table7.jpg');
    font-family:'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    background-size: cover;
    color: whitesmoke;
}

.image{
    width: 100%;
    display:flex;
    overflow:auto;
    justify-content:space-between;
    margin: left 200px;   

}

.flex-container{
    display: flex;
    flex-wrap: wrap;
    gap:20px;
    max-width: 1200px;
    
}
.introduction {
    width: 100%;
}
.text {
    display: flex;
}

/*.name {
    
}*/

.container{
    display:flex;
    flex-direction: column;
    flex:1 1 calc(33.333% - 20px);
    overflow: hidden;
}

.container img{
    width: 250px;
    transition: transform 0.3s ease-in-out;
    margin-bottom: 10px;
    height: 250px;
}

.text-content{
    text-align: center;
}

.container:hover img{
    transform: scale(1.1);
}

.Historic { 
    /*background-color: #DB6E8C;*/
    margin: 0.5em;
    padding: 1em;
    border-radius: 1em;
    /*border: 1px solid #3F292B;*/
    flex: 1;
    /*block-inline*/
}
.subjects{
    padding: 10px;
    box-sizing: border-box;
    display:flex;
    width: 100%;
    overflow:auto;
    flex-wrap: wrap;
}

.Places {
    float:inline-start;
    display: inline-flex;
    overflow: auto;
}

/*.contentPlaces {
    /*display:inline-block;*/
    /*flex-wrap:wrap ;*/  

@media (max-width:960px){
    .container{
        flex: 1 1 calc(50% - 20px);
        flex-direction: column;
        align-items: center;

    }
    .container img{
        margin-bottom: 10px;
    }
    .text-content{
        text-align: center;
    }

}
@media (max-width:670px){
    .container{
        flex: 1 1 100%;
        flex-direction: row;
        align-items:center;
    }
    .container.reverse{
        flex-direction: row-reverse;
    }
    .container img{
        max-width: 150px;
        margin:0 20px 0 0;

    }   
    .container.reverse img{
        margin: 0 0 0 20px;
    }

    .text-content{
        text-align: left;
    }
    .container.reverse .text-content{
        text-align: right;
    }
}
